<!DOCTYPE html>
<html>
    <head>
        <title>title</title>
        <script>
            function apple_login(){
                location.href = '/login/apple_login?re_url=/'
            }
            function google_login(){
                location.href = '/login/google_login?re_url=/'
            }
            function facebook_login(){
                location.href = '/login/facebook_login?re_url=/'
            }
        </script>
    </head>
    <body>
        <button onClick="apple_login();">apple login</button>
        <button onClick="google_login();">apple login</button>
        <button onClick="facebook_login();">apple login</button>
    </body>
</html>
